#video {
	/*margin: 2% auto;
	width: 640px;*/
	height: 640px;
	/*display: block;
	-webkit-transition: all 0.5s ease; /* Safari */
    transition: all 0.5s ease;*/
}

@media only screen and (min-width: 941px) and (max-width: 1022px) {
	h3 {
		font-size: 2.1em;
	}

	h4 {
		font-size: 1.4em;
	}
}

@media only screen and (min-width: 501px) and (max-width: 940px) {

	h3 {
		font-size: 2.1em;
	}

	h4 {
		font-size: 1.4em;
	}

	#video {
		height: 420px;
	}

}

@media only screen and (max-width: 500px) {

	h3 {
		font-size: 1.8em;
	}

	h4 {
		font-size: 1.2em;
	}

	#video {
		width: 86%;
		margin: 0px auto;
		height: 200px;
		padding: 3% 7%;
	}
}