
#images {
    margin: 7.5%;
    -webkit-transition: all 0.75s ease; /* Safari */
    transition: all 0.75s ease;
}

img {
	width: 47%;
	margin: 1%;
}

#img1 {
    background: url("images/01.png") no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.75s ease; /* Safari */
	transition: all 0.75s ease;
}

#img1:hover, #img1:active {
    background: url("images/01-c.png") no-repeat;
    background-size: 100%;
}

#img2 {
    background: url("images/02.png") no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.75s ease; /* Safari */
	transition: all 0.75s ease;
}

#img2:hover, #img2:active {
    background: url("images/02-c.png") no-repeat;
    background-size: 100%;
}

#img3 {
    background: url("images/03.png") no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.75s ease; /* Safari */
	transition: all 0.75s ease;
}

#img3:hover, #img3:active {
    background: url("images/03-c.png") no-repeat;
    background-size: 100%;
}

#img4 {
    background: url("images/04.png") no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.75s ease; /* Safari */
	transition: all 0.75s ease;
}

#img4:hover, #img4:active {
    background: url("images/04-c.png") no-repeat;
    background-size: 100%;
}


/* mid style */

@media only screen and (min-width: 511px) and (max-width: 920px) {
    
    #images {
        margin: 12.5% 10% 7.5%;
    }

    img {
        width: 100%;
        margin: 1% 0px;
    }

}


/* mobile style */

@media only screen and (max-width: 510px) {

    #images {
        margin: 35% 15% 7.5%;
    }

    img {
        width: 100%;
        margin: 2% 0%;
    }

}



